html{
    font-size: 18px;
}

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-info{
    height: 100vh;
    padding: 60px 120px 0px 146px;
    color: white;
    background: url("images/Photo\ \(4\).png") center/cover;
    background-repeat: no-repeat;
}

.main-header{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 1.3rem;
    font-weight: bold;
}

.menu{
    display: flex;
}
.menu-item{
    padding: 0px 27px;
    font-size: 0.8rem;
}
.contacts{
    font-size: 0.8rem;
    font-weight: bold;
}
button{
    border: 0px;
    background: none;
    cursor: pointer;
}
.nav-btn{
    width: 27px;
}
.contacts img{
    vertical-align: middle;
    margin-right: 18px;
}

.headline{
    font-weight: bold;
    margin-top: 148px;
    
}
.headline-question{
    font-size: 0.8rem;
    margin-bottom: 18px;
    font-size: 14.4px;
}
.headline-answer{
    font-size: 5.5rem;
    margin: 0px;
}

.headline2{
    color:  #F61067;
}
.headline p {
    margin: 0;
}
.goto-btn{
    border: 1px solid white;
    height: 108px;
    width: 833px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    position: absolute;
    left: -1px;
}

.goto-btn-circle{
    margin-left: 43px;
}

.section2{
    margin-left: 147px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
}

.intro{
    width: 304px;
    height: 18px;
    font-size: 12.6px;
    letter-spacing: 6px;
    font-weight: 800;
}

.plan{
    margin-top: 18px;
    font-size: 45px;
    width: 304px;
    height: 72px;
}

.exinfo{
    margin-top: 19px;
    width: 460px;
    height: 89px;
    font-size: 18px;
    line-height: 29px;
    font-weight: 800;
}

.prelast{
    width: 460px;
    height: 144px;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    margin-top: 50px;
}

.moreinfo{
    width: 197px;
    height: 45px;
    border-radius: 36px;
    background: #F61067;
    margin-top: 54px;
    color: white;
    align-items: center;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hdnblock{
    position: absolute;
    left: 999px;
    top: 936px;
    width: 356px;
    height: 540px;
    background: #30124E;
    z-index: 1;
}

.girl{
    position: absolute;
    width: 460px;
    height: 738px;
    left: 735px;
    top: 972px;
    background-image: url(images/Photo\ \(3\).png);
    z-index: 2;
}

.closeblock{
    position: absolute;
    width: 286px;
    height: 504px;
    left: 1063px;
    top: 972px;
    z-index: 3;
    background:#30124E;
}

.slogan{
    font-family: sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 22.5px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 100px;
}

.icon{
    position: absolute;
    width: 83px;
    height: 128px;
    font-size: 144px;
    top: 10px;
    left: 100px;
    color: #F4F4ED;
    opacity: 0.25;
}

.icon2{
    position: absolute;
    width: 71px;
    height: 128px;
    font-size: 144px;
    line-height: 216px;
    color: #F4F4ED;
    opacity: 0.25;
    left: 100px;
    
}
.bigblock{
    position: absolute;
    width: 999px;
    height: 1008px;
    left: 0px;
    top: 1638px;
    background: linear-gradient(180deg, rgba(49, 18, 81, 50) 0%, #30124E 80.07%);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.privilege{
    width: 304px;
    height: 24px;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
    margin-top: 144px;
    margin-left: 147px;
}

.slogan2{
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    margin-top: 18px;
    margin-left: 147px;
    color: #FCFCFC;
}

.shortinfo{
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    margin-left: 147px;
    margin-top: 17px;
    color: #FCFCFC;
}
.biginfo{
    margin-left: 147px;
    margin-top: 71px;
    color: white;
}

.go_to_btn{
    width: 197px;
    height: 45px;
    background: #F61067;
    margin-top: 48px;
    color: white;
    align-items: center;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 147px;
    border-radius: 36px;
}
.coffee{
    position: absolute;
    width: 460px;
    height: 612px;
    left: 735px;
    top: 126px;
}
.scroll{
    color: #F4F4ED;
    position: absolute;
    width: 68px;
    height: 27px;
    left: 1029px;
    top: 40px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    z-index: 2;
}

.left-arrow{
    position: absolute;
    width: 27px;
    height: 27px;
    left: 1123px;
    top: 40px;
    background: rgba(196, 196, 196, 0.05);
    cursor: pointer;
    z-index: 2;
}

.right-arrow{
    position: absolute;
    width: 27px;
    height: 27px;
    left: 1151px;
    top: 40px;
    background: rgba(196, 196, 196, 0.05);
    cursor: pointer;
    z-index: 2;
    
}

.promo{
    position: absolute;
    width: 612px;
    height: 68px;
    left: 950px;
    top: -200px;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #5E239D;
    transform: rotate(90deg);
}

.info-block{
    position: absolute;
    width: 1346px;
    height: 1548px;
    left: 0px;
    top: 2448px;
    background: #150433;
    z-index: 0;
}

.ourslogan{
    margin-left: 608px;
    margin-top: 324px;

    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color:  #F61067;
}

.info-title1 {
    margin-top: 50px;
    margin-left: 582px;
    
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    color: #FCFCFC;
}

.info-desc {
    text-align: center;
    margin-top: 23px;
    margin-left: 50px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    color: #FCFCFC;
}

.functions{
    display: flex;
    flex-wrap: wrap;
}

.fun-icon1{
    margin-left: 146px;
    margin-top: 51px;
}

.fun-title1{
    margin-left: 0px;
    margin-top: 18px;
    color: #00F0B5;
}

.fun-content{
    margin-top: 27px;
    color: #fcfcfc;
}

.fun-icon2 {
    margin-top: 51px;
    margin-left: 35px;
}

.fun-title2{
    margin-top: 18px;
    color: #F61067;
}

.fun-content2 {
    color: #fcfcfc;
    margin-top: 27px;
}

.fun-icon3 { 
    margin-top: 51px;
    margin-left: 10px;

}

.fun-title3 {
    margin-top: 18px;
    color: #F67110;
}

.fun-content3 {
    color: #fcfcfc;
    margin-top: 27px;
}

.fun-icon4 {
    margin-left: 146px;
    margin-top: 82px;
}

.fun-title4{
    margin-top: 18px;
    color: #F67110;
}

.fun-content4{
    margin-top: 27px;
    color: #fcfcfc;

}

.fun-icon5 {
    margin-top: 80px;
    margin-left: 165px;
}

.fun-title5{
    margin-top: 18px;
    color: #00F0B5;
}

.fun-content5 {
    margin-top: 27px;
    color: #fcfcfc;
}

.fun-icon6 {
    margin-top: 82px;
    margin-left: 40px;
   
}

.fun-title6{
    margin-top: 18px;
    color: #F61067;
}

.fun-content6{
    margin-top: 27px;
    color: #fcfcfc;
}

.info-btn3 {
    margin-top: 100px;
    margin-left: 590px;
    width: 197px;
    height: 45px;
    background: #F61067;
    color: white;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 36px;
}

.clients{
    width: 1346px;
    height: 774px;
    background: #fcfcfc;
    position: absolute;
    top: 3996px;
}

.black-girl{
    margin-top: -126px;
    margin-left: 480px;
}

.afro-man {
    position: absolute;
    top: 100px;
    left: 100px;
}

.chinee {
    position: absolute;
    top: 200px;
    left: 300px;
}

.madam {
    position: absolute;
    top: 10px;
    right: 10px;
}

.blonde-man {
    position: absolute;
    left: 10px;
    top: 300px;
}

.right-man {
    position: absolute;
    top: 200px;
    right: 10px;
}

.curls {
    position: absolute;
    top: 180px;
    right: 180px;
}

.arrow-left {
    position: absolute;
    left: 100px;
    top: 500px;
}

.arrow-right {
    position: absolute;
    right: 100px;
    top: 500px;
}

.symbol {
    margin-left: 190px;
    margin-top: -40px;
}

.quote {
    position: absolute;
    left: 410px;
    margin-top: 68px;
    font-family: Noticia Text;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
}

.authority {
    width: 490px;
    height: 30px;
    display: flex;
    position: absolute;
    left: 550px;
    top: 608px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 136px;
}

.name {
    color: #F61067;
}

.email {
    height: 486px;
    width: 1346px;
    position: absolute;
    top: 4770px;
    background:white;
}

.news {
    position: absolute;
    width: 613px;
    height: 67px;
    left: 450px;
    color:#30233D;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    top: 126px;
}

.email-desc {
    position: absolute;
    width: 334px;
    height: 27px;
    left: 552px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color:#30233D;
    top: 216px;
}

.input-section {
    display: flex;
    cursor: pointer;
}

.input-email {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 37px;
    /* identical to box height */
    
    letter-spacing: 4px;
    text-transform: uppercase;
    position: absolute;
    left: 460px;
    top: 305px;
}

.sub-btn {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    position: absolute;
    left: 773px;
    top: 305px;

}

.bot-border {
    position: absolute;
    width: 558px;
    height: 3px;
    left: 441px;
    background: #F4F4ED;
    top: 342px;
}

.arrow-btn {
    position: absolute;
    left: 945px;
    top: 305px;
    
}

.fooder {
    position: absolute;
    width: 1346px;
    height: 558px;
    background: #150433;
    top: 5255px;
    
}


.nav-ft {
    cursor: pointer;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-top: 126px;
    color: #FCFCFC;
}

.ft-logo{
    margin-left: 147px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 43px;
    /* identical to box height */
    color: #fcfcfc;
    letter-spacing: 2px;
}

.menu-btn {
    margin-left: 191px;
    border-bottom: 1px solid #F61067;
    
}

.serv-btn {
    margin-left: 36px;
    border-bottom: 1px solid #F61067;
}

.contact-btn {
    margin-left: 86px;
    border-bottom: 1px solid #F61067;
}

.follow-btn {
    margin-left: 151px;
    border-bottom: 1px solid #F61067;
}



.ft-menu-btn {
    cursor: pointer;
    display: inline-flex;
    margin-left: 461px;
    margin-top: 28px;
    font-family: Mplus 1p Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12.6px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #fcfcfc;
}

.social-links {
    margin-left: 40px;
}

.ft-menu_item {
    padding-top: 14px;
}

.email-adds {
    margin-left: 140px;
}

.social-icons {
    margin-left: 120px;
    margin-top: 45px;
    cursor: pointer;
}

.social-icons img {
    padding-right: 30px;
}